{% extends 'layout.html' %}


{% block title %}
{{title}}
{%endblock%}

{% block content %}
	<ul>
		<li><a href="/list">want to see my article?</a></li>
		<li><a href="/mall">they said need a shop?</a></li>
		<li><a href="javascript:testAjax();">test my ajax</a></li>
	</ul>
<script>
function testAjax(){
		var opt={
			type:'post',
			url:'./model',
			contentType:'application/json',
			dataType:'json',
			data:{},
			success:function(res){
				var progress=res;
					window.stop();
					//下面的方法是针对IE的
					document.execCommand("stop");
			},
			error:function(err){
				console.log(err);
			}
		};
		$.ajax(opt);
	}
</script>
{%endblock%}
