{% extends 'layout.html' %}


{% block title %}
{{title}}
{%endblock%}

{% block content %}
	<ul class="list-unstyled">
		<li><a href="/list">want to see my article?</a></li>
		<li><a href="/mall">they said need a shop?</a></li>
		<li><a href="javascript:testAjax();">test my ajax</a></li>
		<li><a href="javascript:;">addNews</a></li>
	</ul>
<script>
	/*
	$(function(){
	$(window).resize(function(){
		document.querySelector('#inp').value='w : '+window.innerWidth+'  h : '+window.innerHeight;
	});
});
*/
window.onresize=function(){
		document.querySelector('#inp').value='w : '+window.innerWidth+'  h : '+window.innerHeight;
	};
function testAjax(){
	

}
</script>
{%endblock%}
