{% extends 'layout.html' %}


{% block title %}
{{title}}
{%endblock%}

{% block content %}
<div class="row">
	<article class="col-md-offset-1 col-md-10">
		<blockquote>
			<p>they said i need a demo therefore it's good for find a job</p>
			<p>well,this site will offer articles,pictures,and chat.</p>
			<p>as you can see,i use bootstrap.</p>
			<p>额。。。我知道页面有点丑。。。谁叫我没有艺术细菌</p>
		</blockquote>
	</article>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-5 col-lg-offset-1">
		<h3>What's New</h3>
		<ul class="list-unstyled">
			<li><a href="/list">want to see my article?</a></li>
			<li><a href="/mall">they said need a shop?</a></li>
			<li><a href="javascript:testAjax();">test my ajax</a></li>
			<li><a href="javascript:;">addNews</a></li>
		</ul>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-5 ">
		<h3>What's New</h3>
		<ul class="list-unstyled">
			<li><a href="/list">want to see my article?</a></li>
			<li><a href="/mall">they said need a shop?</a></li>
			<li><a href="javascript:testAjax();">test my ajax</a></li>
			<li><a href="javascript:;">addNews</a></li>
		</ul>
	</div>
</div>
<script>
	/*
	$(function(){
	$(window).resize(function(){
		document.querySelector('#inp').value='w : '+window.innerWidth+'  h : '+window.innerHeight;
	});
});
*/
window.onresize=function(){
		//document.querySelector('#inp').value='w : '+window.innerWidth+'  h : '+window.innerHeight;
	};
function testAjax(){
	

}
</script>
{%endblock%}
