{% extends 'layout.html' %}

{% block content %}
	<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
	<script type="text/javascript" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
	<div class="row">
		<div class="col-lg-12 form-horizontal">
			<div class="form-group">
				<label for="title" class="col-md-2 control-label">title</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="title" placeholder="news title" value="{{title}}">
				</div>
			</div>
			<div class="form-group">
				<label for="content" class="col-md-2 control-label">content</label>
				<div class="col-md-10">
					<script id="editor" name="content" type="text/plain"></script>
				</div>
			</div>
			<div class="form-group">
				<label for="content" class="col-md-2 control-label">allTags</label>
				<div class="col-md-10">
					{% for t in allTags %}
						{% if loop.first %}<div class="btn-group" id="dvTags" data-toggle="buttons">{% endif %}
							<label class="btn btn-default" data-tag="{{t}}">
								<input type="checkbox">{{t}}
							</label>
						{% if loop.last %}</div>{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="form-group">
				<label for="tag" class="col-md-2 control-label">tag</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="tags" placeholder="news tags" >
				</div>
			</div>
			<div class="form-group">
				<label for="author" class="col-md-2 control-label">author</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="author" value="victor.Chung" value="{{author}}">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button id="btnSubmit" data-loading-text="submit..." class="btn btn-primary">submit</button>
					<a class="btn btn-default" href="/ad/list">back</a>
				</div>
			</div>
			<input type="hidden" id="objId" value="{{objId}}">
			<script>
				var ue=UE.getEditor('editor');
				ue.ready(function(){
					if({{content|safe}}!=''){
						var con={{content|safe}};
						ue.setContent(unescape(con));
					}
					var tags={{tags|safe}};
					tags=tags.split(',');
					for(var i=0;i<tags.length;i++){
						var obj=$('label[data-tag="'+tags[i]+'"]');
						obj.addClass('active');
					}
				});
				$('#btnSubmit').click(function(){
					var title=escape($.trim($('#title').val()));
					if(title===''){
						$('#title').focus().attr('placeholder','you need a title');
					}
					//var content=escape($.trim($('#content').val()));
					var content=escape($.trim(ue.getContent()));
					var arr=[];
					var tags=$.trim($('#tags').val()).toLowerCase();
					if(tags!=''){
						tags=tags.split(' ');
						for(var i=0;i<tags.length;i++){
							if($.inArray(tags[i],arr)<0){
								arr.push(tags[i]);
							}
						}
					}
					var arrTags=$('#dvTags>label.active');
					for(var i=0;i<arrTags.length;i++){
						var obj=$(arrTags[i]).attr('data-tag');
						arr.push(obj);
					}
					tags=escape(arr.join(' '));
					var author=escape($.trim($('#author').val()));
					var objId=$.trim($('#objId').val());
					var type=objId==""?'put':'post';
					var opt={
						url:'/ad/addnews',
						type:type,
						dataType:'json',
						data:{title:title,content:content,tags:tags,author:author,objId:objId},
						success:function(res){
							if(res.ret==0){
								console.log('failed');	
							}else{
								console.log('success');	
								if(type=='put'){
									$('#objId').val(res.ret);
								}
							}
						},
						error:function(res){
							console.log(res.responseText);
						}
					};
					$.ajax(opt);
				});
			</script>	
		</div>
		
	</div>
{%endblock%}

